.page-transition {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  pointer-events: none;
}

.page-transition.right .transition-overlay {
  animation: blurAndSlideRight 1s ease-in-out forwards;
}

.page-transition.left .transition-overlay {
  animation: blurAndSlideLeft 1s ease-in-out forwards;
}

.transition-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  opacity: 0;
  transform: translateX(-100%);
}

@keyframes blurAndSlideRight {
  0% {
    opacity: 0;
    transform: translateX(-100%);
    backdrop-filter: blur(0);
  }
  20% {
    opacity: 0.9;
    backdrop-filter: blur(100px);
  }
  100% {
    opacity: 0.9;
    transform: translateX(0);
    backdrop-filter: blur(100px);
  }
}

@keyframes blurAndSlideLeft {
  0% {
    opacity: 0;
    transform: translateX(100%);
    backdrop-filter: blur(0);
  }
  20% {
    opacity: 0.9;
    backdrop-filter: blur(100px);
  }
  100% {
    opacity: 0.9;
    transform: translateX(0);
    backdrop-filter: blur(100px);
  }
}
