.tornado-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background: var(--bg-primary); /* Or dark background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.tornado-svg {
  width: 80px;
  height: 80px;
}

.swirl {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: swirl-draw 2.4s ease-in-out infinite;
}

.swirl:nth-child(2) {
  animation-delay: 1s;
}
.swirl:nth-child(3) {
  animation-delay: 2s;
}
.swirl:nth-child(4) {
  animation-delay: 3s;
}
.swirl:nth-child(5) {
  animation-delay: 4s;
}
.swirl:nth-child(6) {
  animation-delay: 5s;
}
.swirl:nth-child(7) {
  animation-delay: 6s;
}
.swirl:nth-child(8) {
  animation-delay: 7s;
  }
.swirl:nth-child(9){
  animation-delay: 8s;
}
.swirl:nth-child(10){
  animation-delay: 9s;
}

@keyframes swirl-draw {
  0% {
    stroke-dashoffset: 100;
    opacity: 0;
  }
  50% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 100;
    opacity: 0;
  }
}
